// mixins import
@import '../mixins.scss';

.features {
	// code set for tablet
	>.block {
		@include devices(600) {
			max-width: 500px;
			align-self: center;
		}

		@include devices(700) {
			max-width: 550px;
		}

		>h2 {
			@include devices (700) {
				font-size: 32px !important;
				text-align: left !important;
			}
		}

		>p {
			@include devices (700) {
				font-size: 15px !important;
				text-align: left !important;
			}
		}

	}

	.features-list {
		@include devices(420) {
			width: 100%;
			height: auto;
			align-self: center;
		}

		@include devices(600) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		>li {
			@include devices(420) {
				max-width: 260px;
			}

			@include devices(600) {
				width: 45%;
			}
		}
	}
}