// mixins import
@import '../mixins.scss';

header {
	@include devices (700) {
		background: #fff;
	>div {
			flex-direction: row !important;
			padding: 0;
			background: #fff;

			>.logo-brand {
				width: auto;
				>button {
					display: none;
				}
			}

			>.navigation {
				padding: 0;
				display: flex !important;
				max-width: 330px;
				>ul {
					border-radius: 0;
					flex-direction: row;
				}
			}

			>button {
				display: block !important;
			}
		}
	}
}