//Colors

//Primary

$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);

// Neutral

$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Public Sans', sans-serif;
}

.df {
	&-col {
		display: flex;
		flex-direction: column;
	}

	&-row {
		display: flex;
		flex-direction: row;
	}
}

.just {
	&-cen {
		justify-content: center;
	}

	&-end {
		justify-content: flex-end;
	}

	&-start {
		justify-content: flex-start;
	}

	&-spa-bet {
		justify-content: space-between;
	}
}

.al {
	&-cen {
		align-items: center;
	}

	&-end {
		align-items: flex-end;
	}

	&-start {
		align-items: flex-start;
	}
}

.dn {
	display: none !important;
}

.p20 {
	padding: 20px;
}

.burger-close {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	
	>img {
		width: inherit;
		height: inherit;
	}
}

.request-invite {
	padding: 15px 35px;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	color: $White;
	font-size: 12px;
	font-weight: 700;
	background: linear-gradient(33deg, $Lime-Green 0%, $Bright-Cyan 100%);

	&:hover {
		background: linear-gradient(33deg, hsl(136, 57%, 61%) 0%, hsl(192, 62%, 59%) 100%);
	}
}

header {
	width: 100%;
	height: auto;
	background: linear-gradient(180deg, rgba(32, 34, 54, 0.748) 0%, hsla(233, 8%, 62%, 0.379) 70%);
	position: fixed;

	>.logo-brand {
		width: 100%;
		height: auto;
		background-color: $White;
	}

	>.navigation {
		width: 100%;
		height: auto;

		>ul {
			width: 100%;
			height: auto;
			background-color: $White;
			border-radius: 15px;

			>li {
				margin: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 400;
				font-size: 14px;
			}
		}
	}
}

main {
	width: 100%;
	height: auto;

	.intro {
		width: 100%;
		height: auto;
		background-color: $White;
		background-image: url(./public/icons/bg-intro-mobile.svg);
		background-repeat: no-repeat;
		background-position: top right;
		background-size: contain;
		padding: 20px;
		margin-bottom: 20px;

		>.mockups {
			width: 100%;
			height: auto;
			margin-bottom: 30px;
			background: transparent;

			>img {
				width: 100%;
				height: auto;
			}
		}

		.block {
			width: 100%;
			height: auto;
			margin-bottom: 30px;

			>h2 {
				text-align: center;
				font-size: 30px;
				font-weight: 700;
				color: $Dark-Blue;
				line-height: 40px;
				margin-bottom: 20px;
			}

			>p {
				text-align: center;
				font-size: 14px;
				font-weight: 400;
				color: $Grayish-Blue;
				line-height: 20px;
				margin-bottom: 20px;
			}
		}
	}

	.features {
		width: 100%;
		height: auto;
		background-color: $Very-Light-Gray;

		.block {
			width: 100%;
			height: auto;
			margin-bottom: 40px;
			margin-top: 30px;

			>h2 {
				text-align: center;
				font-size: 28px;
				font-weight: 400;
				color: $Dark-Blue;
				line-height: 40px;
				margin-bottom: 20px;
			}

			>p {
				text-align: center;
				font-size: 14px;
				font-weight: 300;
				color: $Grayish-Blue;
				line-height: 20px;
				margin-bottom: 20px;
			}
		}

		.features-list {
			>li {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 30px;

				>img {
					width: 50px;
					height: 50px;
					margin-bottom: 20px;
				}

				>h3{
					font-size: 16px;
					font-weight: 400;
					color: $Dark-Blue;
					line-height: 20px;
					margin-bottom: 20px;
				}

				>p {
					font-size: 12px;
					font-weight: 300;
					color: $Grayish-Blue;
					line-height: 20px;
					text-align: center;
				}
			}
		}
	}
}

.footer {
	width: 100%;
	height: auto;
	background-color: $Dark-Blue;

	.level1 {
		width: 100%;
		height: auto;
		background-color: $Dark-Blue;

		>.socials-infos {
			width: 100%;
			height: auto;

			.socials {
				width: 100%;
				height: auto;
				margin-bottom: 30px;

				>img {
					margin-bottom: 20px;
				}

				>ul {
					width: 185px;
					height: auto;
					
					>.social {
						width: 13%;
						height: auto;

						>a {
							width: 100%;
							display: flex;
							align-items: center;
							justify-content: center;

							>img {
								width: 100%;
								height: auto;
							}
						}
					}
				}
			}

			.infos {
				width: 100%;
				height: auto;
				margin-bottom: 10px;

				>ul {
					width: 100%;
					height: auto;

					>li {

						>a {
							margin-bottom: 20px;
							font-size: 14px;
							font-weight: 300;
							color: $Very-Light-Gray;

							&:hover {
								color: $Bright-Cyan;
							}
						}
					}
				}
			}
		}

		>.copy {
			>div {
				width: 100%;
				height: auto;

				>button {
					margin-bottom: 20px;
				}

				>p {
					width: 100%;
					height: auto;
					font-size: 14px;
					font-weight: 400;
					color: $Grayish-Blue;
				}
			}
		}
	}
}

.attribution {
	font-size: 10px;
	font-weight: 300;
	text-align: center;
	color: $White;

	a {
		color: $Bright-Cyan;

		&:hover {
			color: $Bright-Cyan;
		}
	}
}
