@import './mixins.scss';

.articles {
	background-color: #fafafaff;

	>.cards-block {
		width: 100%;
		max-width: 1120px;
		height: auto;

		>.cards-header {
			width: 100%;
			height: auto;
			margin-bottom: 40px;
			margin-top: 30px;

			@include devices(600) {
				max-width: 500px;
				align-self: center;
			}
	
			@include devices(700) {
				max-width: 550px;
				align-self: flex-start;
			}
	
			>h2 {
				width: 100%;
				text-align: center;
				font-size: 28px;
				font-weight: 400;
				color: hsl(233deg, 26%, 24%);
				line-height: 40px;

				@include devices (700) {
					font-size: 32px;
					text-align: left;
				}
			}
		}

		>.articles-container {
			@include devices(420) {
				width: 100%;
				height: auto;
				align-self: center;
			}
	
			@include devices(600) {
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
			}
	
			@include devices(700) {
				justify-content: space-between !important;
			}

			>li {

				>img {

				}

				>div {

					>h3 {

					}

					>h2 {

					}

					>p {

					}
				}
			}
		}
	}
}